body{
    margin: 0;
    background-image: url(img/back.jpg);
    background-size:cover;
    background-position: right;
    height: 100vh;
     
}
h5{
    margin: 0;
    padding: 0;
}
div{
    
    margin-left: 40%;
    padding-top: 200px;
}
table{
    width: 300px;
    background-color: rgb(15,15, 15);
    font-size: 45px;
    color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px  rgb(46, 46, 46);
}
input , button{
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;
}
 #egal{
     padding: 0px;
 }
#egal input{background-color: darkorange ;
border-radius: 50%;
 font-size: 50px; width: 90%;
  
 
}
.op{
    color: darkorange;
    border-radius: 5px;
     
      
}
#clear{
    padding: 0px;
}
 
#input{
   
    background-color: white;
    padding: 14.5px 0px  14px 15px;
    width: 90%;
    margin-left: 10px;
    cursor:text;
    color: black;
    border-radius: 5px;
}
#first{
    padding: 0;
}
td{
    padding: 5px 20px;
}
@media (max-width : 900px){
    div{
    
        margin-left: 20%;
    }
}
@media (max-width : 500px){
    div{
    
        margin-left: 15%;
        margin-right: 15%;
    }
    table{
        box-sizing: border-box;
        width: 150px;
    }
}